# macOS
.DS_Store

# Xcode build output
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Xcode user-specific settings
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Injection for Xcode
iOSInjectionProject/

# SwiftLint cache
.swiftlint-cache/

# Temporary files
*.swp
*.tmp
*~
